Repository elegantframework/elegant-cli, pull requests merged in 2023-10, with the labels that each got.

#182 Move the deprecated video component to the elegant ui package for fut…
  packages/elegant-ui/package-lock.json
  packages/elegant-ui/package.json
  packages/elegant-ui/src/components/Videos/VideoPlayer.stories.tsx
  packages/elegant-ui/src/components/Videos/VideoPlayer.test.tsx
  packages/elegant-ui/src/components/Videos/VideoPlayer.tsx
  packages/elegant-ui/src/components/Videos/__snapshots__/VideoPlayer.test.tsx.snap
  packages/elegant-ui/src/index.ts
  source/elegant/_content/docs/installation.mdx
  source/elegant/package-lock.json
  source/elegant/package.json
  source/elegant/src/components/core/Admin/Pages/__tests__/__snapshots__/login.test.tsx.snap
Labels: type: enhancement, version: 3.0, status: ready to merge, version: elegant-cms

#184 Quick fixes
  package-lock.json
  package.json
  source/elegant/src/components/core/Admin/Pages/__tests__/__snapshots__/login.test.tsx.snap
  source/elegant/src/components/core/Admin/Pages/login.tsx
  source/elegant/src/components/core/Headings/DocumentationHeading.stories.tsx
  source/elegant/src/components/core/Headings/DocumentationHeading.test.tsx
  source/elegant/src/components/core/Headings/DocumentationHeading.tsx
  source/elegant/src/components/core/Headings/__snapshots__/DocumentationHeading.test.tsx.snap
  source/elegant/src/pages/docs/[slug]/index.tsx
  source/elegant/src/utils/core/Hooks/useTipTap.tsx
  source/elegant/src/utils/core/Rehype/MarkdownToHtml.ts
Labels: status: ready to merge

#186 Added the facebook icon to the ui icon set
  packages/elegant-ui/src/components/Icons/Facebook/FacebookIcon.stories.tsx
  packages/elegant-ui/src/components/Icons/Facebook/FacebookIcon.test.tsx
  packages/elegant-ui/src/components/Icons/Facebook/FacebookIcon.tsx
  packages/elegant-ui/src/components/Icons/Facebook/__snapshots__/FacebookIcon.test.tsx.snap
  packages/elegant-ui/src/index.ts
Labels: type: enhancement, status: ready to merge

#198 As a developer, i want to start a new Elegant project with a starter page
  source/elegant/_content/docs/development-tools.mdx
  source/elegant/_content/docs/elegant-community.mdx
  source/elegant/_content/docs/google-analytics.mdx
  source/elegant/src/pages/index.tsx
Labels: version: 3.0, version: elegant-cms

#195 Fix title on CMS login page (#191)
  source/elegant/src/components/core/Admin/Pages/__tests__/__snapshots__/login.test.tsx.snap
  source/elegant/src/components/core/Admin/Pages/login.tsx
  source/elegant/src/pages/index.tsx
Labels: type: bug, version: 3.0, status: waiting review, version: elegant-cms, hacktoberfest-accepted

#199 Enhancement/final v3 pre push
  packages/elegant-ui/package.json
  source/elegant/_content/docs/configuration.mdx
  source/elegant/_content/docs/contribution-guide.mdx
  source/elegant/_content/docs/installation.mdx
  source/elegant/_content/docs/new-documents.mdx
  source/elegant/_content/docs/release-notes.mdx
  source/elegant/_content/docs/theme.mdx
  source/elegant/_content/docs/upgrade.mdx
  source/elegant/_content/docs/welcome.mdx
  source/elegant/_content/posts/2023-04-05-elegant-framework-v2-0-alpha.mdx
  source/elegant/_content/posts/introducing-the-new-elegant-framework.mdx
  source/elegant/_content/posts/your-first-blog-post.mdx
  source/elegant/public/images/elegant-full-svg-c5Nj.svg
  source/elegant/public/images/hire-us-splash-tech-picture-U1Nz.jpg
  source/elegant/public/images/microsoftteams-image--8--Q5OT.png
  source/elegant/public/images/microsoftteams-image--8--U3ND.png
  source/elegant/public/images/microsoftteams-image--8--YwNT.png
  source/elegant/public/images/microsoftteams-image--8--g3Nz.png
  source/elegant/public/images/screenshot-2023-06-29-072644-Q2MT.png
  source/elegant/public/images/screenshot-2023-06-29-073136-g0Mz.png
  source/elegant/public/images/screenshot-2023-06-29-073410-U5OT.png
  source/elegant/public/images/screenshot-2023-07-03-115238-IyND.png
  source/elegant/public/images/social-card-large-EyMT.jpg
  source/elegant/public/images/social-card-large-YyNT.jpg
  source/elegant/public/images/v1.elegantframework.com-A1OD.png
  source/elegant/public/images/v1.elegantframework.com-I1Nj.png
  source/elegant/public/images/v2_0_elegantframework_com-E3MT.png
  source/elegant/public/images/v2_0_elegantframework_com-Q1Nj.png
  source/elegant/redirects.json
  source/elegant/src/components/Header.js
  source/elegant/src/components/Layouts/SplashPageLayout.tsx
  source/elegant/src/components/Sidebar/Skyline/Nav/__snapshots__/Nav.test.tsx.snap
  source/elegant/src/components/ThemeToggle.js
  source/elegant/src/config/Navigation.ts
  source/elegant/src/img/splash/elegant_rome.jpg
Labels: type: enhancement, version: 3.0, version: elegant-cms

#203 Fix/save cms images locally
  source/elegant/_content/docs/welcome.mdx
  source/elegant/public/images/screenrecorderproject28--1--AwNz.png
  source/elegant/src/pages/api/admin/images.ts
  source/elegant/src/pages/api/images/[slug]/index.ts
  source/elegant/src/utils/Hooks/useSubmitDocument.tsx
Labels: version: 3.0, version: elegant-cms

#204 Fixed Dark mode Card
  package.json
  packages/elegant-ui/package-lock.json
  packages/elegant-ui/package.json
  packages/elegant-ui/src/components/Cards/Card.tsx
  packages/elegant-ui/src/components/Cards/__snapshots__/Card.test.tsx.snap
  packages/elegant-ui/tailwind.config.js
  source/elegant/package-lock.json
  source/elegant/package.json
  source/elegant/src/components/Admin/Pages/404.tsx
  source/elegant/src/components/Admin/Pages/__tests__/__snapshots__/login.test.tsx.snap
  source/elegant/src/components/Admin/Pages/login.tsx
  source/elegant/src/components/Admin/Pages/welcome.tsx
  source/elegant/src/components/Cards/Card.stories.tsx
  source/elegant/src/components/Cards/Card.test.tsx
  source/elegant/src/components/Cards/Card.tsx
  source/elegant/src/components/Cards/__snapshots__/Card.test.tsx.snap
Labels: type: bug, type: friction, version: 3.0, status: ready to merge, version: elegant-cms
